/.ipynb_checkpoints
/.venv
/02-python-agent-framework.py
/02-semantic-kernel.ipynb
/02-semantic-kernel.py
/AutoGen.py
/LangChain
/Prompt_engineering_01.ipynb
/SemanticKernal_01.py
/Untitled.ipynb
/Untitled1.ipynb
/employee-data-agent (2).zip
/sample.py
/zero_shot_prompting.ipynb